Game-guess-the-number/.vs/Game-guess-the-number/DesignTimeBuild/.dtbcache.v2
Game-guess-the-number/.vs/Game-guess-the-number/FileContentIndex/44386f33-07c3-48fc-8fa5-96922780010b.vsidx
Game-guess-the-number/.vs/Game-guess-the-number/FileContentIndex/4b7a7324-3745-4c59-a26e-44876a416188.vsidx
Game-guess-the-number/.vs/Game-guess-the-number/FileContentIndex/990ded5f-ec88-40f8-a935-84503ec3bd47.vsidx
Game-guess-the-number/.vs/Game-guess-the-number/FileContentIndex/b7182693-25b3-453a-a547-b3ed9bf42bfc.vsidx
Game-guess-the-number/.vs/Game-guess-the-number/FileContentIndex/f1194478-4836-4351-b3bf-9ec8c5372a69.vsidx
Game-guess-the-number/.vs/Game-guess-the-number/v17/.suo
Game-guess-the-number/.vs/Game-guess-the-number/v17/DocumentLayout.backup.json
Game-guess-the-number/.vs/Game-guess-the-number/v17/DocumentLayout.json
Game-guess-the-number/Game-guess-the-number/bin/Debug/net8.0/Game-guess-the-number.deps.json
Game-guess-the-number/Game-guess-the-number/bin/Debug/net8.0/Game-guess-the-number.dll
Game-guess-the-number/Game-guess-the-number/bin/Debug/net8.0/Game-guess-the-number.exe
Game-guess-the-number/Game-guess-the-number/bin/Debug/net8.0/Game-guess-the-number.pdb
Game-guess-the-number/Game-guess-the-number/bin/Debug/net8.0/Game-guess-the-number.runtimeconfig.json
Game-guess-the-number/Game-guess-the-number/obj/Game-guess-the-number.csproj.nuget.dgspec.json
Game-guess-the-number/Game-guess-the-number/obj/Game-guess-the-number.csproj.nuget.g.props
Game-guess-the-number/Game-guess-the-number/obj/Game-guess-the-number.csproj.nuget.g.targets
Game-guess-the-number/Game-guess-the-number/obj/project.assets.json
Game-guess-the-number/Game-guess-the-number/obj/project.nuget.cache
Game-guess-the-number/Game-guess-the-number/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Game-guess-the-number/Game-guess-the-number/obj/Debug/net8.0/apphost.exe
Game-guess-the-number/Game-guess-the-number/obj/Debug/net8.0/Game-guess-the-number.AssemblyInfo.cs
Game-guess-the-number/Game-guess-the-number/obj/Debug/net8.0/Game-guess-the-number.AssemblyInfoInputs.cache
Game-guess-the-number/Game-guess-the-number/obj/Debug/net8.0/Game-guess-the-number.assets.cache
Game-guess-the-number/Game-guess-the-number/obj/Debug/net8.0/Game-guess-the-number.csproj.BuildWithSkipAnalyzers
Game-guess-the-number/Game-guess-the-number/obj/Debug/net8.0/Game-guess-the-number.csproj.CoreCompileInputs.cache
Game-guess-the-number/Game-guess-the-number/obj/Debug/net8.0/Game-guess-the-number.csproj.FileListAbsolute.txt
Game-guess-the-number/Game-guess-the-number/obj/Debug/net8.0/Game-guess-the-number.dll
Game-guess-the-number/Game-guess-the-number/obj/Debug/net8.0/Game-guess-the-number.GeneratedMSBuildEditorConfig.editorconfig
Game-guess-the-number/Game-guess-the-number/obj/Debug/net8.0/Game-guess-the-number.genruntimeconfig.cache
Game-guess-the-number/Game-guess-the-number/obj/Debug/net8.0/Game-guess-the-number.GlobalUsings.g.cs
Game-guess-the-number/Game-guess-the-number/obj/Debug/net8.0/Game-guess-the-number.pdb
Game-guess-the-number/Game-guess-the-number/obj/Debug/net8.0/ref/Game-guess-the-number.dll
Game-guess-the-number/Game-guess-the-number/obj/Debug/net8.0/refint/Game-guess-the-number.dll
